.main-col {
  padding: 8px;
}
.title {
  color: white;
  font-size: 30px;
}
.logo {
    height: 30px;
}

html, body, #root, .App {
    background-color: #f0f2f5;
    min-height: 100%;
    min-width: 800px;
}
