.live-player-status {
  color: gray;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10000;
}

.live-player-bottom {
    color: gray;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    z-index: 10000;
    font-size: 12px;
  }

  .live-player-container {
    position: relative;
  }

  .player {
    background-color: white;
  }